/* yang diseleksi yang bawah */
p { color: red; }
p { color: blue;}

ul.kehidupan {
    color: green;
}
#ker {
    color: red;
}
/* inline > id > class > element */
/* singkatnya yang lebih berat dipilih */