.hello:link {
    color: orange;
}

/* hover aktif saat cursor diarahkan  */
.hello:hover {
    color: violet;
    font-size: 25px;
}

.hello:active {
    font-style: italic;
}

.hello:visited {
    color: green;
}

li:first-child a {
    color: red;
}

li:last-child a {
    color: red;
}

/* bisa urutan/kelipatan contoh (3n) untuk memulai dari angka yang diinginkan adalah (3n-2) bisa +/- */
li:nth-child(4) a {
    color: red;
}