.container{
    width: 700px;
    border: 1px solid;
    margin: auto;
    padding: 5px;
}

.kotak{
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    margin: 5px;

    /* berjejer ke sebelah kiri */

    float: left;
    
    /* end */

    /* berjejer ke sebelaha kanan */

    /* float: right; */

    /* end */
}

.clear{
    clear: left;
}
