.container{
    width: 1000px;
    border: 1px solid;
    margin: auto;
    padding: 5px;


    /* overflow auto itu untuk mengakali float */
    
    /* overflow: auto; */
}

/* .satu, .dua, .tiga{
    width: 200px;
    height: 200px;
}

.satu{
    background-color: blue;
}

.dua{

    background-color: green;
    float: right;
}

.tiga{
    background-color: red;
} */



img{
    height: 300px;
    float: left;
    margin: 10px;
}

.clear{
    clear: left;
}
